body {
    text-align: center;
    background-color: rgb(112, 111, 111);
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    margin: 0%;
}

button {
     width: 50px;
     height: 30px;
     background-color: rgb(229, 28, 28);
     outline: none;
     font-size: larger;
     margin: 20px;
     border-radius: 5px;
}

#submit {
    width: 100px;
     height: 30px;
     background-color: rgb(229, 28, 28);
     outline: none;
     color: rgb(254, 254, 254);
     font-size: larger;
     border-radius: 5px;
}

#meme-photo {
    width: 150px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 3px 3px black;
}

#posted-photo {
    width: 200px;
    height: 100px;
}

.photo-style {
    width: 300px;
    height: 200px;
    margin-left: 50%;
    border-radius: 5px;
}

#buffer {
    margin: 50px;
}